/*
Navbar
*/

.navbar {
  background-color: #85e0e0;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 20px;
  border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
}

.navbar .navbar-nav>li {
  padding: 5px 30px;
  margin: auto 30px;
}

.navbar-default .navbar-nav li a {
  text-decoration: none;
  color: white;
}

.tagline {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  position: relative;
  float: left;
  margin-left: 20px;
  vertical-align: center;
}

/*
General page layout
*/

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  padding-left: 20px;
}

div {
  text-align: center !important;
}

.header {
  margin-bottom: 30px;
}

#container {
  text-align: center;
  width: 100%;
}

.col-md-8 {
  width: 100%;
}

/*
Forms, inputs, and tables
*/

#clientSearch {
  width: 40%;
  margin: auto;
}

.table {
  float: none !important;
  margin: 20px auto !important;
  width: 50%;
}

.table th {
  text-align: center;
  font-size: 14px;
  background-color: #eaeef2;
  color: #30312e;
}

td {
  color: #57616f;
}

table, form {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #737373;
}

form {
  padding: 50px;
  margin: auto 200px;
  text-align: left;
}

label {
  color: #30312e;
}

#no_client {
  font-size: 15px;
}
