h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  padding-left: 20px;
}

.tagline {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  position: relative;
  float: left;
  margin-left: 20px;
  vertical-align: center;
}

div {
  text-align: center !important;
}

.header {
  margin-bottom: 30px;
}

#container {
  text-align: center;
  width: 100%;
}

.col-md-8 {
  width: 100%;
}

.navbar {
  background-color: #85e0e0;
  margin-top: 20px;
  border: none;
}

li {
  font-color: white;
}

.navbar-nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
}

.navbar .navbar-nav>li {
  padding: 5px 30px;
  margin: auto 30px;
}

#clientSearch {
  width: 40%;
  margin: auto;
}
.table {
  display: block;
  width: 50%;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

tr, thead, tbody {
  display: block;
  width: 100%;
  margin: auto;
}

.clientCells {
  width: 33%;
}

table, form{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #737373;  
}

form {
  padding: 50px;
  margin: auto 200px;
  text-align: left;
}

#no_client {
  font-size: 15px;
}