<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='/' class='index'>View Jobs</a></li>
    <li><a href='/add' class='add'>Add Job</a></li>
    <li><a href='/clients' class='clients'>View Clients</a></li>
    <li><a href='/addclient' class='add'>Add Client</a></li>
  </ul>
  </div>
  <div id='container'></div>
</script>

<script id='home' type='text/x-handlebars-template'>
    <input id="clientSearch" type="text" placeholder="filter by client..."/>
</script>

<script id='tableheads' type='text/x-handlebars-template'>
  <thead>
    <th>Client</th>
    <th>Description</th>
    <th>Rate</th>
    <th>Start</th>
    <th>End</th>
    <th>Status</th>
  </thead>
</script>

<script id='clienttable' type='text/x-handlebars-template'>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </thead>
</script>


<script id='job' type='text/x-handlebars-template'>
    <td>{{client.name}}</td>
    <td>{{description}}</td>
    <td>${{rate}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td><input type="checkbox" {{checked}}></td>
</script>

<script id='add' type='text/x-handlebars-template'>
  <form id="addJob">
    <label>Client:</label>
      <select id="client">
        {{#each clients }}
          <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
        {{/each}}
      </select>
      <a href="/addclient">Don't see your client? Create a new client here.</a>
      <br/>
      <label>Description:</label>
        <input id="description" type="text"/><br/>
      <label>Rate:</label>
        <input id="rate" type="text"/><br/>
      <label>Start:</label>
        <input id="start" type="date"/><br/>
      <label>End:</label>
        <input id="end" type="date"/><br/>
      <button class="submit">Add Job</button>
  </form>
</script>

<script id='addClient' type='text/x-handlebars-template'>
  <form id="addClient">
    <label>Name:</label>
      <input id="name" type="text"/><br/>
    <label>Address:</label>
      <input id="address" type="text"/><br/>
    <label>Phone:</label>
      <input id="phone" type="text"/><br/>
    <button class="submit">Add Client</button>
  </form>
</script>

<script id='clientInfo' type='text/x-handlebars-template'>
    <td>{{name}}</td>
    <td>{{address}}</td>
    <td>{{phone}}</td>
</script>

<script>
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>
