<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lance-a-lot</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- dependencies -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/backbone/backbone.js"></script>
    <script src="lib/handlebars/handlebars.js"></script>
  </head>

  <body>
    <div id="container">
      <div class="container">
        <form class="form-group" action="/signup" method="post">
            <div>
              <label for="email">Email:</label>
              <input class="form-control" id="email" type="text" name="email">
            </div>
            <div>
              <br>
              <label for="password">Password:</label>
              <input class="form-control"id="password" type="password" name="password">
            </div>
            <div>
              <br>
              <input class="btn btn-default" type="submit" value="Signup">
            </div>
        </form>

        <p>
          <a href="/login">Login to your account &rarr;</a>
        <p>
      </div>

    </div>
  </body>
</html>
