<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lance-a-lot</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/splash.css">
    <!-- dependencies -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/backbone/backbone.js"></script>
    <script src="lib/handlebars/handlebars.js"></script>
  </head>

  <body id="splash">
         <!--  <img src="/img/splash_page_freelancer.jpg"> -->
    <div class="splashText">
      <br>
      <br>
      <h1 class="head">work from anywhere.</h1>
      <p>
      Enjoy the perks of being a contractor without the headache of juggling administrative tasks. <br>
      Get started today with our easy-to-use time and job management tool for freelancers!
      </p>
      <br>
      <button class="btn btn-primary" onclick="location.href='/signup';" >Sign Up</button>
      <button class="btn btn-info" onclick="location.href='/login';" >Sign In</button>
    </div>
    <div>
    </div>
  </body>
</html>
